body {
  margin: 20px;
  font-family: DejaVu Sans, Verdana, Tahoma, Sans-Serif;
  font-size: 10pt;
}

a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: blue;
}

h3 {
  font-size: 120%;
  border-bottom: 1px #C0C0C0 solid;
  margin-top: 40px;
}

h3.about {
  margin-top: 0;
}

p {
  line-height: 1.5em;
}

pre {
  margin: 20px;
}

ul {
  padding-left: 2em;
  list-style: square;
}

#container {
  border: 4px #3465a4 solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-top: 60px;
}

#main {
  position: relative;
  background-color: #f4f4f4;
  border-top: 1px #E0E0E0 solid;
  border-radius: 0 0 9px 9px;
  -moz-border-radius: 0 0 9px 9px;
  -webkit-border-radius: 0 0 9px 9px;
  padding: 30px;
}

#navbar {
  list-style: none;
  margin: 30px 0;
  padding: 0;
  text-align: center;
}

#navbar li {
  display: inline;
}

#navbar li a {
  background-color: #fef4a5;
  border: 1px #826b03 solid;
  padding: 4px 8px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: black;
  text-decoration: none;
}

#navbar li a:hover {
  background-color: #feea51;
}

#parasite-happy {
  position: absolute;
  left: 40px;
  top: 10px;
}

#parasite-smiling {
  position: absolute;
  right: 40px;
  bottom: 20px;
}

#subtitle {
  font-size: small;
  font-weight: normal;
  text-align: center;
}

#title {
  font-size: 22pt;
  text-align: center;
  margin-bottom: 0;
}

#screenshot-table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 40px;
}

#screenshot-table td {
  vertical-align: top;
  margin: 0;
}

.screenshot1 {
  background: url(../images/screenshot_bg_1.png) no-repeat top left;
  width: 280px;
  height: 300px;
  padding: 20px 0 0 20px;
}

.screenshot2 {
  background: url(../images/screenshot_bg_2.png) no-repeat top left;
  width: 307px;
  height: 300px;
  padding: 20px 0 0 20px;
}

.screenshot3 {
  background: url(../images/screenshot_bg_3.png) no-repeat top left;
  width: 280px;
  height: 300px;
  padding: 89px 0 0 20px;
}

.screenshot4 {
  background: url(../images/screenshot_bg_4.png) no-repeat top left;
  width: 307px;
  height: 300px;
  padding: 90px 0 0 20px;
}
